<section class="container text-center pt-4">
	{{#if folder}}
		{{#if showAddAcc}}
		<div class="container text-center jumbotron">
			<a href="/folders/{{folder._id}}" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </a>
			<form class="mt-4" method="post" action="/folders/{{folder._id}}/add-account">
				<fieldset>
					<legend>Add an Account to {{folder.name}} Folder</legend>
					<div class="form-group row justify-content-md-center">
						<label for="staticEmail" class="col-sm-2 col-form-label">Account name</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" name="name" placeholder="Enter a name for this account (ex: Gmail)">
						</div>
					</div>
					<div class="form-group row justify-content-md-center">
						<label for="exampleInputEmail1" class="col-sm-2 col-form-label">User login</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" aria-describedby="emailHelp" name="userlogin" placeholder="Enter email or username needed to login">
						</div>
					</div>
					<div class="form-group row justify-content-md-center">
						<label for="exampleInputPassword1" class="col-sm-2 col-form-label">Password</label>
						<div class="col-sm-4">
							<input type="password" class="form-control" name="password" placeholder="Enter password of new account">
						</div>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</fieldset>
			</form>
		</div>
		{{/if}}

		{{#if editAcc}}
		<div class="container text-center jumbotron">
			<a href="/folders/{{folder._id}}" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </a>
			<form class="mt-4" method="post" action="/folders/{{folder._id}}/{{editAcc.name}}/edit-account">
				<fieldset>
					<legend>Edit {{editAcc.name}} Account Information</legend>
					<div class="form-group row justify-content-md-center">
						<label for="exampleInputEmail1" class="col-sm-2 col-form-label">New user login</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" aria-describedby="emailHelp" name="userlogin" placeholder="Enter new email or username for this account">
						</div>
					</div>
					<div class="form-group row justify-content-md-center">
						<label for="exampleInputPassword1" class="col-sm-2 col-form-label">New password</label>
						<div class="col-sm-4">
							<input type="password" class="form-control" name="password" placeholder="Enter new password for this account">
						</div>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</fieldset>
			</form>
		</div>
		{{/if}}

		{{#if removeAcc}}
		<div class="container text-center jumbotron">
			<a href="/folders/{{folder._id}}" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </a>
			<form class="mt-4" method="post" action="/folders/{{folder._id}}/{{removeAcc.name}}/remove-account">
				<fieldset>
					<legend>Are you sure you want to delete your {{removeAcc.name}} Account?</legend>
					<button type="submit" class="btn btn-danger">Delete Account</button> <br /> <br />
					<a class="text-muted" href="/folders/{{folder._id}}">No, cancel this operation</a>
				</fieldset>
			</form>
		</div>
		{{/if}}

		{{#if accExistsError}}
			<div class="alert alert-dismissible alert-danger">
			  <strong>Already exists!</strong> Please create an account with a different name</a>.
			</div>
		{{/if}}

		{{#if editAcc}}
			<a href="../../../dashboard" class="btn btn-link">Click here to go back</a>
		{{else if showAddAcc}}
			<a href="../../dashboard" class="btn btn-link">Click here to go back</a>
		{{ else if accExistsError}}
			<a href="../../dashboard" class="btn btn-link">Click here to go back</a>
		{{else}}
			<a href="../dashboard" class="btn btn-link">Click here to go back</a>
		{{/if}}


		<h1 class="display-4">Viewing {{folder.name}} folder</h1>

		<div class="container text-right">
			<button type="button" class="btn btn-info"><a class="link-unstyled" href="/folders/{{folder._id}}/add">Add new account</a></button>
		</div>

		<table class="table table-hover mt-4">
			<thead>
				<tr>
					<th scope="col">Account Name</th>
					<th scope="col">User Login</th>
					<th scope="col">Password</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{{#each accData}}
					<tr class="table-active">
						<th scope="row">{{this.name}}</th>
						<td>{{this.userlogin}}</td>
						<td>{{this.password}}</td>
						<td><a href="/folders/{{../folder._id}}/{{this.name}}/edit">EDIT</a> - <a href="/folders/{{../folder._id}}/{{this.name}}/remove">REMOVE</a></td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	{{else}}
		<div class="alert alert-dismissible alert-danger">
			<strong>Oh snap!</strong> <a href="../dashboard" class="alert-link">Go back to the dashboard</a> and try submitting again.
		</div>
	{{/if}}
</section>